/* Estilos Gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.btn{
    border: 3px solid blue;
    padding: 10px 30px;
    color: blue;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover{
    color: black;
    border-color: black;
}

.bem-vindo{
    color: gray;
    background: black;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 15px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

h1{
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-family: monospace, cursive;
}

.subtitulo{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
}

/* Header */

.header{
    width: 100%;
    background-image: linear-gradient(to top, #ccc, rgb(33, 48, 88));
    padding: 0 0 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 20px;
    text-decoration: none;
    padding: 10px 0;
}

.header_menu ul li a.menu_ativo{
    color: #002985;
}

.header_menu ul li a:hover{
    color: #1a48f2;
    border-bottom: #1a48f2 solid 2px;
    border-top: #1a48f2 solid 2px;
}

/* Introdução */

.intro{
    width: 100%;
    height: 480px;
    background: url("../img/teste4.jpg") no-repeat center;
    background-size: cover;
    margin-top: 189px;
    text-align: center;
    padding-top: 40px;
}

.intro h2{
    font-size: 48px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.descricao p{
    max-width: 300px;
    margin: 10px auto;
    color: #000;
    font-size: 18px;
    font-style: italic;
    /* border-top: #000 solid 3px;
    border-bottom: #000 solid 3px; */
    padding: 10px 0;
    margin-bottom: 30px;
}

.descricao p::before, .descricao p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 10px auto;
}

/* Formação */

.lc_formacao{
    width: 100%;
    height: 600px;
    text-align: center;
    padding: 60px 0;
    color: #fff;
    margin: 0 auto;
    background: #ccc;
}

.lista_formacao li {
    background: #1a48f2;
    text-align: center;
}

.lista_formacao li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.lista_formacao li p {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px 20px 20px;
}

.icone{
    background: #fff;
    padding-top: 5px;
}

.saiba-mais{
    padding-top: 30px;
}

.saiba-mais p{
    color: #000;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 30px;
}

/* Habilidades */

.lc_habilidades{
    width: 100%;
    background-image: linear-gradient(to bottom, #000, rgb(0, 5, 29));
    height: 640px;
    padding: 60px 0;
    color: #fff;
    text-align: center;
}

.subtitulo_habilidade{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 60px;
}

.grid-8 .lista{
    padding: 10px 0;
}

.line{
    background-color: #ccc;
    height: 25px;
    display: inline-block;
    min-width: 360px;
    position: relative;
    border-radius: 12px;
    margin: 0 10px auto;
}

.line1{
    width: 50%;
    height: 25px;
    background-color: #1a95bb;
    text-align: center;
    color: white; 
    animation: animate 1 3s;
    border-radius: 10px;
    padding: 5px;
}

.line2{
    width: 45%;
    height: 25px;
    background-color: #1a95bb;
    text-align: center;
    color: white; 
    animation: animate 1 3s;
    border-radius: 10px;
    padding: 5px;
}

.line3{
    width: 35%;
    height: 25px;
    background-color: #1a95bb;
    text-align: center;
    color: white; 
    animation: animate 1 3s;
    border-radius: 10px;
    padding: 5px;
}

.line4{
    width: 70%;
    height: 25px;
    background-color: #1a95bb;
    text-align: center;
    color: white; 
    animation: animate 1 3s;
    border-radius: 10px;
    padding: 5px;
}

.line5{
    width: 40%;
    height: 25px;
    background-color: #1a95bb;
    text-align: center;
    color: white; 
    animation: animate 1 4s;
    border-radius: 10px;
    padding: 5px;
}

@keyframes animate{
    0% {
        width: 0%;
    }
}

.icones_habilidades{
    width: 100%;
    height: 150px;
    text-align: center;
    margin: 30px 0;
    padding-top: 20px;
}

.icones_habilidades ul li{
    display: inline-block;
    margin: 0 10px;
}

/* Rodape */

.footer{
    width: 100%;
    height: 420px;
    background: url("../img/teste9.jpg") no-repeat center;
    background-size: cover;
    padding-top: 260px;
    color: #fff;
}

.container h3{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
}

.copy{
    width: 100%;
    text-align: center;
    background: #ccc;
    color: #000;
    padding: 20px 0;
    top: 0;
    font-weight: bold;
}

.footer_contato ul li{
    display: block;
    margin: 10px 0;
}

.email{
    display: inline-block;
    position: absolute;
    margin: 12px 5px;
}

.footer_redes ul li {
    display: inline-block;
    margin: 20px 10px 0 0;
}

.footer_redes ul li a{
    display: block;
    padding: 5px;
}

.footer_redes .insta a:hover{
    border-bottom: 3px solid #db1fe5;
}

.footer_redes .face a:hover{
    border-bottom: 3px solid #6179db;
}
.footer_redes .linkedin a:hover{
    border-bottom: 3px solid #3050b4;
}
.footer_redes .youtube a:hover{
    border-bottom: 3px solid #f0575c;
}

.footer_contato .gmail a:hover{
    border-bottom: 3px solid #b03830;
}


/* Sobre mim */

.sobre_mim{
    width: 100%;
    margin-top: 189px;
    background: url(../img/teste7b.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}

.sobre{
    text-align: center;
    color: #fff;
}

.sobre h2{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sobre p{
    font-size: 16px;
    font-style: italic;
}

.foto1{
    padding-top: 5px;
}

.about_me {
    width: 100%;
    background-image: linear-gradient(to top, #ccc, rgb(110, 126, 171));
}

.foto{
    margin: 20px 10px;
}

.texto{
    margin: 30px 10px;
}

.texto p{
    padding: 5px 0;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
}

/* Qualidade */

.qualidade{
    padding: 60px 0;
    height: 560px;
}

.qualidade:after{
    content: "";
    width: 642px;
    height: 91px;
    display: block;
    background: url(../img/linhas2.png) no-repeat center;
    position: absolute;
    top: 228px;
    right: 154px;
    z-index: -1;
}

.qualidade img{
    display: block;
    margin: 0 auto;
}

.subtitulo img{
    display: inline;
}

.qualidade_lista{
    padding: 30px 0;
}

.qualidade_lista li{
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}

.qualidade_lista li p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    font-style: italic;
}


/* Contato */

.top_bar_contato{
    width: 100%;
    margin-top: 189px;
    background: url(../img/teste6.jpg) no-repeat center; 
    background-size: cover;
    height: 200px;
}

.contato{
    text-align: center;
    color: #fff;
}

.contato h2{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.contato p{
    font-size: 16px;
    font-style: italic;
}

.duvidas{
    height: 560px;
    padding: 40px 0;
}

.form{
    padding-right: 60px;
}

.form label{
    display: block;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.form input{
    display: block;
    width: 100%;
    border: #002985 4px solid;
    background: none;
    padding: 6px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: #002985 4px solid;
    background: none;
    padding: 6px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form button{
    display: block;
    background: none;
    margin-bottom: 20px;
}

.duvidas_dados span{
    display: block;
    width: 100%;
    margin: 10px 0;
}

.duvidas_dados h3{
    margin-bottom: 30px;
    border-bottom: 4px #002985 solid;
    width: fit-content;
}

.span_email a{
    font-weight: bold;
    color: #000;
}

.duvidas_dados ul li{
    margin: 10px 0;
}

/* Portfolio */


.top_bar_portfolio{
    width: 100%;
    margin-top: 189px;
    background: url(../img/teste8.jpg) no-repeat center; 
    background-size: cover;
    height: 200px;
}

.portfolio{
    text-align: center;
    color: #fff;
}

.portfolio h2{
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.portfolio p{
    font-size: 16px;
    font-style: italic;
}

/* pagina em construção */
.center{
    text-align: center;
    margin: 30px 0;
}